<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testng.TC06"/>
      <class name="testng.TC07"/>
      <class name="testng.TC04"/>
      <class name="testng.TC05"/>
      <class name="testng.TC02"/>
      <class name="testng.OrangeHRMTest"/>
      <class name="testng.TC03"/>
      <class name="testng.TC01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
